<form method="post" action="{{ path('app_point_delete', {'id': point.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" class="{{ form_class|default('inline-block') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ point.id) }}">
    <button class="{{ button_class|default('btn') }}">
        {{ button_label|default('Supprimer')|raw }}
    </button>
</form>
