{% extends 'base.html.twig' %}

{% block title %}Point index{% endblock %}

{% block body %}
    <h1>Point index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Le Cv correspondant</th>
                <th>La Categorie correspondante</th>
                <th>Un Lieu correspondant</th>  
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for point in points %}
            <tr>
                <td>{{ point.id }}</td>
                <td>{{ point.libelle }}</td>
                <td>{{ point.leCv}}</td>
                <td>{{point.laCate}}</td>
                <td>{{point.UnLieu}}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_point_show', {'id': point.id}) }}">show</a>
                    <a href="{{ path('app_point_edit', {'id': point.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_point_new') }}">Create new</a>
{% endblock %}
